* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.interfont {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

body {
  color: #111;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.flex {
  display: flex;
}

footer {
  flex-direction: column;
}

#footer-top2 {
  background: #eee;
  padding: 30px 0;
  text-align: center;
}

.footer-top2-container {
  width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.footer-box-container {
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}

.box-content > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 10px;
  color: #111;
}

.box-content > a > img {
  transition: transform 0.5s ease-in-out;
}

.box-content > a > img:hover {
  transform: rotate(360deg);
}

.footer-container {
  padding: 30px 0;
}

.footer-container2 {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1320px;
}

.footer-links {
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 25%;
}

.footer-links > p {
  font-size: 20px;
  margin: 0;
  font-weight: 500;
  line-height: 1.1;
}

.footer-links-list {
  margin: 20px 0 0;
}

.footer-links-list > ul > li {
  list-style: none;
  color: #777;
  margin-bottom: 10px;
  text-decoration: none;
}

.footer-links-list > ul > li > a {
  text-decoration: none;
  white-space: nowrap;
  color: #777;
}

.footer-links-list > ul > li > a > img {
  margin-right: 15px;
}

.social-icons {
  margin-top: 20px;
}

.social-icons > li {
  width: 50px;
}

.footer-submenu {
  margin: 20px 0 0;
}

.footer-submenu > p {
  margin-bottom: 10px;
  color: #777;
}

.input-wrapper-footer {
  margin-bottom: 10px;
  flex-direction: column;
}

.input-wrapper-footer2 {
  width: 100%;
}

.input-wrapper-footer2 > form {
  margin-bottom: 10px;
  width: 100%;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 40px;
  display: flex;
}

.input-wrapper-footer2 > form > input {
  width: 90%;
  background: #f9f9f9;
  padding-left: 10px;
}

.input-wrapper-footer2 > form > input::placeholder {
  color: #c7c7c7;
}

.input-wrapper-footer2 > form > button {
  width: 10%;
  background: #f9f9f9;
  padding-right: 10px;
}

.input-wrapper-footer > p {
  color: #777;
}

.footer-bottom {
  border-top: 1px solid #ddd;
  padding: 15px 0;
}

.footer-bottom-container {
  width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-bottom-row {
  flex-direction: row;
}

.tptncopyright {
  color: #777;
  padding-right: 15px;
  padding-left: 15px;
  width: 60%;
}

.tptnpayment {
  text-align: right;
  width: 40%;
}
