* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.interfont {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

body {
  color: #111;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.flex {
  display: flex;
}

footer {
  flex-direction: column;
}

#footer-top2 {
  background: #eee;
  padding: 30px 0;
  text-align: center;
}

.footer-top2-container {
  width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.footer-box-container {
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}

.box-content > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 10px;
  color: #111;
}

.box-content > a > img {
  transition: transform 0.5s ease-in-out;
}

.box-content > a > img:hover {
  transform: rotate(360deg);
}

.footer-container {
  padding: 30px 0;
}

.footer-container2 {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1320px;
}

.footer-links {
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 25%;
}

.footer-links > p {
  font-size: 20px;
  margin: 0;
  font-weight: 500;
  line-height: 1.1;
}

.footer-links-list {
  margin: 20px 0 0;
}

.footer-links-list > ul > li {
  list-style: none;
  color: #777;
  margin-bottom: 10px;
  text-decoration: none;
}

.footer-links-list > ul > li > a {
  text-decoration: none;
  white-space: nowrap;
  color: #777;
}

.footer-links-list > ul > li > a > img {
  margin-right: 15px;
}

.social-icons {
  margin-top: 20px;
}

.social-icons > li {
  width: 50px;
}

.footer-submenu {
  margin: 20px 0 0;
}

.footer-submenu > p {
  margin-bottom: 10px;
  color: #777;
}

.input-wrapper-footer {
  margin-bottom: 10px;
  flex-direction: column;
}

.input-wrapper-footer2 {
  width: 100%;
}

.input-wrapper-footer2 > form {
  margin-bottom: 10px;
  width: 100%;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 40px;
  display: flex;
}

.input-wrapper-footer2 > form > input {
  width: 90%;
  background: #f9f9f9;
  padding-left: 10px;
}

.input-wrapper-footer2 > form > input::placeholder {
  color: #c7c7c7;
}

.input-wrapper-footer2 > form > button {
  width: 10%;
  background: #f9f9f9;
  padding-right: 10px;
}

.input-wrapper-footer > p {
  color: #777;
}

.footer-bottom {
  border-top: 1px solid #ddd;
  padding: 15px 0;
}

.footer-bottom-container {
  width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-bottom-row {
  flex-direction: row;
}

.tptncopyright {
  color: #777;
  padding-right: 15px;
  padding-left: 15px;
  width: 60%;
}

.tptnpayment {
  text-align: right;
  width: 40%;
}


@media (min-width: 769px) and (max-width: 1200px) {
   
  footer{
    align-items: center;
  }

  .footer-top{
    width: 720px;
  }

  #footer-top2{
    width: 720px;
  }
  
  .footer-top2-container {
    width: 720px;
    max-width: 100%;
  }

  .footer-box-container{
    flex-wrap: nowrap;
    justify-content: space-evenly;
    row-gap: 20px;
  }

  .box-content>a>img {
    width: 25px;
  }

  .box-content>a>span {
    font-size: 12px;
  }

  .footer-container{
    width: 720px;
    padding-bottom: 10px;
  }

  .footer-container2{
    width: auto;
    padding-right: 0px;
    padding-left: 0px;
  }

  .footer-container2>.row{
    display: flex;
    column-gap: 10px;
  }

  .footer-links {
    padding-right: 0px;
    padding-left: 0px;
    float: left;
    width: 25%;
  }

  .footer-links > p {
    font-size: 16px;
    margin: 0;
    font-weight: 500;
    line-height: 1.1;
  }

  .footer-links-list {
    margin: 10px 0 0;
  }

  .footer-links-list > ul > li {
    font-size: 12px;
  }
  
  .footer-links-list > ul > li > a {
    font-size: 12px;
    white-space: nowrap;
  }
    
  .social-icons {
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: center;
  }

  .social-icons>li{
    width: auto;
  }

  .social-icons>li>a>img {
    width: 28px;
  }

  .footer-submenu {
    margin: 10px 0 0;
  }

  .footer-submenu > p {
    font-size: 12px;
  }
  
  .input-wrapper-footer2 > form {
    margin-bottom: 10px;
    width: 100%;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 30px;
    display: flex;
  }

  .input-wrapper-footer2 > form > input {
    width: 80%;
    padding-left: 10px;
  }

  .input-wrapper-footer2 > form > button {
    width: 20%;
    padding-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input-wrapper-footer > p {
    font-size: 12px;
  }

  .footer-bottom{
    width: 720px;
  }

  .footer-bottom-container {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .tptncopyright{
    width: 50%;
    padding-left: 0;
  }

  .tptnpayment{
    width: 50%;
  }


}

@media (min-width: 481px) and (max-width: 768px) {
  footer{
justify-content: center;
align-items: center;
  }

  .footer-top{
    width: 100%;
  }

  .footer-top2-container {
    width: 100%;
    max-width: 100%;
  }

  .footer-box-container{
    flex-wrap: nowrap;
    justify-content: space-evenly;
    column-gap: 10px;
  }

  .box-content>a>img {
    width: 25px;
  }

  .box-content>a>span {
    font-size: 10px;
    white-space: wrap;
  }

  .box3, .box6, .box2{
    display: none;
  }

  .footer-container{
    padding-bottom: 10px;
  }

  .footer-container2{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }

  .footer-container2>.row{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: center;
  }

  .footer-links {
    padding-right: 0px;
    padding-left: 0px;
    float: left;
    width: 25%;
  }

  .footer-links > p {
    font-size: 14px;
    margin: 0;
    font-weight: 500;
    line-height: 1.1;
  }

  .footer-links-list {
    margin: 15px 0 0;
  }

  .footer-links-list > ul > li {
    font-size: 12px;
  }

  .footer-links-list > ul > li > a {
    font-size: 12px;
    white-space: nowrap;
  }

  .fl1, .fl2{
    width: 25%;
    text-align: center;
  }

  .fl3{
    width: 45%;
    text-align: center;
  }

  .fl4{
    border-top: #eee 1px solid;
    display: flex;
    align-items: center;
    width: 90%;
    flex-direction: column;
    padding-top: 15px;
  }

  .social-icons {
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: center;
  }

  .social-icons>li{
    width: auto;
  }

  .social-icons>li>a>img {
    width: 28px;
  }

  .footer-links-list > ul > li > a > img {
    margin-right: 10px;
  }

  .footer-submenu {
    margin: 10px 0 0;
  }

  .footer-submenu > p {
    font-size: 12px;
  }

  .input-wrapper-footer2 > form {
    margin-bottom: 10px;
    width: 100%;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 30px;
    display: flex;
  }

  .input-wrapper-footer2 > form > input {
    width: 90%;
    padding-left: 10px;
  }

  .input-wrapper-footer2 > form > button {
    width: 10%;
    padding-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .input-wrapper-footer > p {
    font-size: 12px;
  }

  .footer-bottom{
    width: 100%;
  }

  .footer-bottom-container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .tptncopyright{
    width: 40%;
    padding-left: 0;
    font-size: 11px;
  }

  .tptnpayment{
    width: 60%;
  }

  .tptnpayment>img{
    width: 60%;
  }

}

@media (min-width: 320px) and (max-width: 480px) {

  footer{
    justify-content: center;
    align-items: center;
  }

  .footer-top{
        width: 100%;
  }

  .footer-top2-container {
        width: 100%;
        max-width: 100%;
  }

  .footer-box-container{
    flex-wrap: nowrap;
    justify-content: space-evenly;
    column-gap: 10px;
  }

  .box-content>a>img {
    width: 25px;
  }

  .box-content>a>span {
    font-size: 10px;
    white-space: wrap;
  }

  .box3, .box6, .box2{
    display: none;
  }

  .footer-container{
    padding-bottom: 10px;
  }

  .footer-container2{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }

  .footer-container2>.row{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: center;
  }

  .footer-links {
    padding-right: 0px;
    padding-left: 0px;
    float: left;
    width: 25%;
  }

  .footer-links > p {
    font-size: 14px;
    margin: 0;
    font-weight: 500;
    line-height: 1.1;
  }

  .footer-links-list {
    margin: 15px 0 0;
  }

  .footer-links-list > ul > li {
    font-size: 12px;
  }

  .fl1, .fl2{
    width: 45%;
    text-align: center;
  }

  .fl3{
    border-top: #eee 1px solid;
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    padding-top: 15px;
  }

  .fl3info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .fl4{
    border-top: #eee 1px solid;
    display: flex;
    align-items: center;
    width: 90%;
    flex-direction: column;
    padding-top: 15px;
  }

  .social-icons {
    flex-wrap: wrap;
    margin-top: 0;
    justify-content: center;
  }

  .social-icons>li{
    width: auto;
  }

  .social-icons>li>a>img {
    width: 28px;
  }

  .footer-links-list > ul > li > a > img {
    margin-right: 10px;
  }

  .footer-submenu {
    margin: 10px 0 0;
  }

  .footer-submenu > p {
    font-size: 12px;
  }

  .input-wrapper-footer2 > form {
    margin-bottom: 10px;
    width: 100%;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 30px;
    display: flex;
  }

  .input-wrapper-footer2 > form > input {
    width: 90%;
    padding-left: 10px;
  }

  .input-wrapper-footer2 > form > button {
    width: 10%;
    padding-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .input-wrapper-footer > p {
    font-size: 12px;
  }

  .footer-bottom{
    width: 100%;
  }

  .footer-bottom-container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .tptncopyright{
    width: 40%;
    padding-left: 0;
    font-size: 11px;
  }

  .tptnpayment{
    width: 60%;
  }

  .tptnpayment>img{
    width: 65%;
  }
 
}
